.productReviews {
  width: 100%;
  border-bottom: 2px solid #2f66dd;
  padding: 14px 0;

  .productReviewsInner {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    .reviewsHeader {
      font-size: 48px;
      margin: 0;
    }

    .addReviewInput {
      border: none;
      outline: none;
      background: #e5e5e5;
      padding: 16px;
      font-size: 20px;
      font-family: sans-serif;
      resize: none;
    }

    .addReviewButton {
      background: #2f66dd;
      color: white;
      max-width: 30%;
    }

    .reviews {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      .review {
        display: flex;
        flex-direction: column;

        .reviewInfo {
          display: flex;
          column-gap: 16px;
          font-size: 18px;

          & > * {
            margin: 5px 0;
          }

          .reviewAuthor {
            color: #2f66dd;
          }

          .reviewDate {
            color: #b4b4b4;
          }
        }

        .reviewText {
          font-size: 20px;
        }
      }
    }

    .loadMoreButton {
      background: #2f66dd;
      color: white;
    }
  }
}
