.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #2f66dd;
  width: 100%;
  padding: 16px 0;

  & > * {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .itemLeft {
    justify-content: flex-start;

    img {
      width: 64px;
      object-fit: cover;
      margin: 0 50px;
    }
    .itemName {
      flex: 3;
    }
  }

  .itemRight {
    justify-content: flex-end;

    .amountWrapper {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;

      & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
      }

      .amount {
        background: #2f66dd;
        color: white;
        margin: 0 -2px;
      }

      .amountButton {
        border: 2px solid #2f66dd;
        color: #2f66dd;
      }
    }

    .itemPrice {
      flex: 1;
    }

    .deleteItem {
      flex: 1;
      img {
        width: 45px;
      }
    }
  }
}
